<template name="providersTable">
  <div class="table-responsive">
    <table class="table  table-striped  table-hover">
      <caption class="sr-only">Table of the HTTP/2 providers.</caption>
      <thead>
        <tr>
          <th class="{{activeCol "name"}}">Provider <a href="#" class="js-sort-col" data-col="name"><i class="glyphicon glyphicon-sort"></i></a></th>
          <th class="{{activeCol "votes"}}">Votes <a href="#" class="js-sort-col" data-col="votes"><i class="glyphicon glyphicon-sort"></i></a></th>
          <th class="{{activeCol "price"}}">Price range <a href="#" class="js-sort-col" data-col="price"><i class="glyphicon glyphicon-sort"></i></a></th>
          <th class="{{activeCol "h2hscore"}}"><abbr title="HTTP2Hosting">H2h</abbr> score <a href="#" class="js-sort-col" data-col="h2hscore"><i class="glyphicon glyphicon-sort"></i></a></th>
        </tr>
      </thead>
      <tbody>
        {{#if Template.subscriptionsReady}}
          {{#each providers}}
            {{> providerRow}}
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</template>

<template name="providerRow">
  <tr>
  <td><a href="{{pathFor route="provider"}}">{{name}}</a></td>
   <td>{{signedNum votes}}</td>
   <td>{{{priceRange price}}}</td>
   <td>{{h2hs votes price}}</td>
 </tr>
</template>